/*
INFO/CS 1300
Fall 2016
Jeremy Fidock
Final Project Milestone 2

 <!-- Banner and Nav Bar -->
 */


#top {
	position: fixed;
	width: 100%;
}

#banner {
	/*background-image: url("../images/appleBanner.jpg");*/
	background-image: url("../images/appleTree.jpg");
	background-color: #cccccc;
	background-size: cover;
	height: 10em;
	width: 100%;
	padding: 1em 1em 1em 1em;
	font-family: 'Noto Serif', serif;
	margin: 0em 0em 0em 0em; 
}

#overlay {
	text-shadow: 2px 2px #000000;
	color: #B5E9F8;
	text-align: center;
	font-size: 3em;
	padding: 0.5em 1em 1em 1em;
}

#navBar {
	width: 100%;
	text-align: center;
	padding: 1em 1em 1em 1em;
	background-color: #18B02A;
	font-size: 1.1em;
	margin: 0em 0em 0em 0em; 
}

#navBar a:link {
	color: #ffffff;
}

#navBar a:hover {
	color: #B5E9F8;
}

.navSpan {
	margin: 0em 1em 1em 1em;
	padding-bottom: 2em;
}

.navSpan a {
	text-decoration: underline;
}

#container {
	padding: 17em 10em 1em 10em;
}

#container h1 {
	text-align: center;
}

/*body {
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
}

h1, h2, h3 {
    font-family: David Libre, serif;
}*/

/*#banner {
	background-color: #3182bd;
	color: #ffffff;
	width: 100%;
	height: 5em;
	padding-top: 0.5em;
}

#banner > h1 {
	font-family: Roboto, sans-serif;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-top: 0.5em;
}

#navBar {
	background-color: #6baed6;
    font-family: David Libre, serif;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	width: 100%;
	padding-bottom: 0.5em;
	padding-left: 2em;
	padding-top: 1em;
	height: 1.25em;
}

#navBar a:link {
	color: #000000;
}

#navBar a:hover {
	color: #000000;
}

.navSpan {
	margin-right: 2em;
	margin-left: 1em;
}

.navSpan a {
	text-decoration: underline;
}*/